.highlighted {
  background: #f3f10d;
}

.ship {
  background: #676c73;
  color: white;
}

.invalid {
  background: #e8071a;
}

.water {
  background: #4287f5;
}

.cell {
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ShipPlaceModal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  gap: 2px;
  justify-content: center;
  margin: auto;
  div {
    outline: solid black 2px;
  }
}

.add-buttons {
  display: flex;
  justify-content: center;
  margin: auto;
}

.mobile-only-vert-toggle {
    display: none;
    justify-content: center;
}
@media (max-width: 768px) {
  .mobile-only-vert-toggle {
    display: flex;
    min-width: 120px;
    max-width: 150px;
    margin: auto;
  }
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem auto;
  max-width: 480px;
  gap: 2px;

  h2, p {
    padding: 0.5rem;
    margin-top: -1rem;
  }
}