.highlighted {
  background: #f3f10d;
}

.ship {
  background: #676c73;
  color: white;
}

.invalid,
.hit {
  background: #e8071a;
}

.water {
  background: #4287f5;
}

.cell {
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ShipPlaceModal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  gap: 2px;
  justify-content: center;
  margin: auto;
  div {
    outline: solid black 2px;
  }
}

.add-buttons {
  display: flex;
  justify-content: center;
  margin: auto;
}

.mobile-only-vert-toggle {
  display: none;
  justify-content: center;
}
@media (max-width: 768px) {
  .mobile-only-vert-toggle {
    display: flex;
    min-width: 120px;
    max-width: 150px;
    margin: auto;
  }
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem auto;
  max-width: 480px;
  gap: 2px;

  h2,
  p {
    padding: 0.5rem;
    margin-top: -1rem;
  }
}

.Game {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

#invite-link-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: auto;
  max-width: 100%;
  word-break: break-all;
}

#invite-link {
  field-sizing: content;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  font-family: monospace;
}

.copy-btn .join-btn {
  padding: 10px 15px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  flex-shrink: 0;
}

.copy-btn:hover .join-btn:hover {
  background-color: #0056b3;
}